<%- include('parts/header.ejs')%>
<%- include('parts/navbar.ejs')%>

<div class="container text-center">
    <br>
    <h3>Create Account</h3>
    <br>
    <div class="col-12 col-md-6 col-lg-4 mx-auto">
        <form action="/signup" method="post">
            <input type="text" name="username" class="form-control" placeholder="Username">
            <br>
            <% let usernameError = validationErrors.find(err => err.path === "username")%>
            <% if(usernameError) {%>
                <p class="alert alert-danger"><%= usernameError.msg%></p>
            <% } %>
            <input type="email" name="email" class="form-control" placeholder="E-mail">
            <% let emailError = validationErrors.find(err => err.path === "email")%>
            <br>
            <% if(emailError) {%>
                <p class="alert alert-danger"><%= emailError.msg%></p>
            <% } else if(signupError) {%>
                <p class="alert alert-danger"><%= signupError%></p>
            <% } %>
            <input type="password" name="password" class="form-control" placeholder="Password">
            <% let passwordError = validationErrors.find(err => err.path === "password")%>
            <br>
            <% if(passwordError) {%>
                <p class="alert alert-danger"><%= passwordError.msg%></p>
            <% } %>
            <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password">
            <% let confirmPasswordError = validationErrors.find(err => err.path === "confirmPassword")%>
            <br>
            <% if(confirmPasswordError) {%>
                <p class="alert alert-danger"><%= confirmPasswordError.msg%></p>
            <% } %>
            <br>
            <input type="submit" value="Create Account" class="btn btn-primary">
        </form>
        <br>
        <div class="d-grid gap-2">
            <form action="auth/github">
                <button type="submit" class="btn btn-dark btn-block w-100 mb-2">
                    <i class="fab fa-github me-2"></i> Sign up with GitHub
                </button>
            </form>
            <form action="auth/google">
                <button type="submit" class="btn btn-danger btn-block w-100">
                    <i class="fab fa-google me-2"></i> Sign up with Google
                </button>
            </form>
        </div>
        <br>
        <div>
            Already have an account? <a href="/login">Login</a>
        </div>
    </div>
</div>

<%- include('parts/footer.ejs')%>