<nav class="navbar navbar-expand-md bg-body-tertiary">
        <div class="container container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link <%= pageTitle === "Home" ? "active" : ""%>" aria-current="page" href="/">Home</a>
                    </li>
                    <% if( isUser ) {%>
                        <li class="nav-item">
                            <a class="nav-link <%= pageTitle === "Carts" ? "active" : ""%>" href="/cart">Cart</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link <%= pageTitle === "Orders" ? "active" : ""%>" href="/order">Orders</a>
                        </li>
                    <% } else { %>
                        <li class="nav-item ">
                            <a class="nav-link <%= pageTitle === "Login" ? "active" : ""%>" href="/login">Login</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link <%= pageTitle === "Sign up" ? "active" : ""%>" href="/signup">Signup</a>
                        </li>
                    <% } %>
                    <% if(isAdmin) {%>
                        <li class="nav-item ">
                            <a class="nav-link <%= pageTitle === "Add Product" ? "active" : ""%>" href="/admin/add">Add Product</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link <%= pageTitle === "Manage Orders" ? "active" : ""%>" href="/admin/orders">Manage Orders</a>
                        </li>
                    <% } %>
                </ul>
                <%if(isUser) {%>
                    <div class="d-flex align-items-center gap-4">
                        <p class="text-white mb-0 fw-bold text-capitalize"><%= username %></p>
                        <form action="/logout" method="post" class="mb-0">
                            <button class="btn btn-danger" type="submit">Logout</button>
                        </form>
                    </div>
                <% } %>
            </div>
        </div>
    </nav>